.button {
  position: relative;
  padding: $s-unit/2 $s-unit;
  background: $white;
  color: $black;
  border: none;
  outline: none;
  top: 0;

  &:hover {
    cursor: pointer;
  }

  &--cancel {
    background-color: red;
    color: $white;

  }

  &--confirm {
    background-color: green;
    color: $white;
  }

}