$media-direction:       min;
$breakpoints: (
  'default':            '',
  'xs':                 480px,
  's':                  667px,
  'm':                  1024px,
  'l':                  1280px,
  'xl':                 1680px,
);

@mixin breakpoint($breakpoint,$direction: $media-direction) {
  @if map-has-key($breakpoints, $breakpoint) {

    // Ausgabe
    @media (#{$direction}-width: #{map-get($breakpoints, $breakpoint)}) {
      @content;
    }
  }

  @else if unitless($breakpoint) {
    $breakpoint: $breakpoint + 0px;

    @media (#{$direction}-width: $breakpoint) {
      @content;
    }
  }
}

.page {
  width: 100vw;
  min-height: 100vh;
  height: 100%;
  background-color: $dark-grey;
}

.content {
  margin: 0 auto;
  padding: 0 $m-unit $s-unit $m-unit;
  max-width: 80em;
}

.header {
  padding: $l-unit;
  min-height: 30vh;

  &__container {
    display: grid;
    grid-template-columns: 1fr;
    align-items: center;

    @include breakpoint('s') {
      grid-template-columns: 1fr 1fr;
    }
  }

  &__card-container {
    display: flex;
  }

  &__image {
    margin: 0;
    height: 400px;
    width: auto;
  }

  &__create-room {
    max-width: 360px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  &__form {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__checkbox {
    margin-right: $s-unit/2;
  }
}


