.headline {
  color: white;

  &--white {
    color: $white;
  }

  &--black {
    color: $black;
  }

  &--underlined {
    text-decoration: underline;
  }

  &--center {
    text-align: center;
  }
}

.paragraph {
  margin-bottom: $s-unit;

  &--white {
    color: $white;
  }

  &--black {
    color: $black;
  }

  &--center {
    text-align: center;
  }
}