<div class="black-cards">
  <div class="black-cards__container">
    <div class="black-cards__card">
      <h3 class="headline headline--white headline--center">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatum pariatur, repudiandae dignissimos accusantium odio deserunt animi corporis rem in maxime aut velit ea ab quis dolorem blanditiis quae nulla culpa.</h3>
      <p class="paragraph paragraph--center">Cards to lay down: 1</p>
    </div>
  </div>
</div>
