<div class="black-cards">
  <div class="black-cards__container">
    <div class="black-cards__card">
      <h3 class="headline headline--white headline--center"><%= raw @game.black_card.question %></h3>
      <p class="paragraph paragraph--center">Cards to lay down: <%= @game.black_card.picks %></p>
    </div>
  </div>
</div>
