<button phx-click="add_player">Add player</button>

<%= inspect Platform.Games.current_player(@socket, @game) %>
<hr>
<pre class="paragraph paragraph--white" style="margin-top: 20px;">
<%= inspect(@game, pretty: true, limit: 9999) %>
</pre>
