
<%= render "_navigation.html", assigns %>
<%= inspect Platform.Games.current_player(@socket, @game) %>

<%= render "_black_card.html", assigns %>
<%= render "_white_cards.html", assigns %>

<pre class="paragraph paragraph--white" style="margin-top: 20px;">
<%= inspect(@game, pretty: true, limit: 9999) %>
</pre>
